* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-container {
    width: 100%;
    height: 100vh;
}

.btn-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 100px;
    border: 1px solid black;
}

button {
    width: 50px;
    height: 30px;
    margin: 5px;
}

h1 {
    margin-top: 20px;
}